@model IEnumerable<EShop.Domain.Domain.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="margin: 2vh">
    <a asp-action="Create" class="btn btn-outline-info">Create a new Travel Package</a>
</p>

<div class="container" style="max-width: 80%;">
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-6 d-flex">
                    <img src="@item.ProductImage" class="img-fluid w-100 h-100 object-fit-cover rounded-start" alt="@item.ProductName">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="card-body">
                        <h2 class="card-title">@item.ProductName</h2>
                        <p class="card-text">@item.ProductDescription</p>
                        <p class="card-text"><strong>Price:</strong> $@item.Price</p>
                        <p class="card-text"><strong>Rating:</strong> @item.Rating ★</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">See additional information</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>